@import url('https://mmwebfonts.comquas.com/fonts/?font=oursunicode');

body {
	scroll-behavior: smooth;
	font-family: 'Ours-Unicode';
	overflow-x: hidden;
}

.chanCode {
	font-family: 'Ours-Unicode';
	font-weight: lighter;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
	font-family: 'Notosan Myanmar';
}

.e2016 {
	color: #444;
}

.c--margin-top {
	margin-top: 0 !important;
}

.c--margin-bottom {
	margin-bottom: 0 !important;
}

.e2016:hover {
	background-color: #acacac;
	color: #fff;
	transition: 0.5s;
}

.e2017 {
	color: rgb(23, 133, 73);
}

.e2017:hover {
	background-color: #4b5845;
	color: #fff;
	transition: 0.5s;
}

.e2018 {
	color: rgb(23, 88, 172);
}

.e2018:hover {
	background-color: #2257b97c;
	color: #fff;
	transition: 0.5s;
}

.e2019 {
	color: rgb(212, 19, 116);
}

.e2019:hover {
	background-color: #b941bdf5;
	color: #fff;
	transition: 0.5s;
}

.e2020 {
	color: rgb(57, 5, 124);
}

.e2020:hover {
	background-color: #682f9ef5;
	color: #fff;
	transition: 0.5s;
}

::-webkit-scrollbar {
	display: none;
}

a {
	cursor: pointer;
	text-decoration: none !important;
}

.col-12 {
	margin-top: -33px !important;
}
